#blogCard h2 {
    margin-top: 20px;
    color: #4883FF;
    font-size: 23px;
    font-weight: 700;
}

#blogCard {
    width: 379px;
}

#blogCard img {
    width: 379px;
    height: 270px;
    object-fit: cover;
}

#blogCard p {
    color: #727272;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

#blogCard .seeAll {
    margin-top: 50px;
    color: #444;
    font-size: 15px;
    font-weight: 500;
    text-decoration-line: underline;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    #blogCard img {
        width: 100%;
        height: fit-content;
        object-fit: cover;
    }

    #blogCard {
        width: 100%;
    }

    #blogCard h2 {
        margin-top: 20px;
        color: #4883FF;
        font-size: 23px;
        font-weight: 700;
    }

    #blogCard p, #blogCard .seeAll {
        font-size: 13.2px;
    }
}