* {
    margin: 0;
    padding: 0;
}

button {
    outline: none;
    border: none;
}

input, textarea {
    border: none;
    background-color: #F5F5F5;
    border-radius: 9.7px;
    resize: none;
    padding: 5px 10px;
}

.leftSectionBlog {
    width: 75%;
}

.containerpageBlog {
    flex-direction: row;
}

.thumbnailContainer img {
    object-fit: cover;
    width: 100%;
    height: fit-content;
}

.leftSectionBlog .generalImage {
    background-color: #F5F5F5;
    padding: 25px;
    height: 500px;
    border-radius: 9.7px;
}

.leftSectionBlog .generalTittle {
    font-size: 27px;
    font-weight: 500;
}

.leftSectionBlog .contentBlog span {
    font-size: 16px;
    font-weight: 500;
}

.leftSectionBlog .contentBlog p {
    font-size: 14.5px;
    font-weight: 400;
}

.leftSectionBlog .generalImage .infoPostImage {
    font-size: 11px;
    color: rgba(62, 50, 50, 0.75);
    font-weight: 500;
}
.leftSectionBlog .infoPostImage span{
    transform: translateY(2px);
}
.leftSectionBlog .contentBlog {
    margin-top: 200px;
}

/* post container */
.topPostContainer {
    background-color: #F5F5F5;
    padding: 16px 12px;
    border-radius: 9.7px;
    font-family: Poppins;
}

div.mark {
    width: 2px;
    height: 8px;
    border-radius: 9.7px;
    background: #4883FF;
}

div.mark.red {
    background: #F81539;
}

.tittleTopPostContainer span, .tittleTagContainer span, .tittleCommentSection span, span.tittleAddComment {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.cardTopPost {
    cursor: pointer;
}

.cardTopPost .imageTopPost {
    width: 125.3px;
    height: 70.3px;
    overflow: hidden;
    border-radius: 15px;
}

.cardTopPost .imageTopPost img {
    object-fit: cover;
    width: 100%;
    height: fit-content;
}

.cardTopPost #tittleTopPost {
    font-size: 11px;
    line-height: 16.1px;
    font-weight: 500 !important;
}

.cardTopPost p {
    color: rgba(62, 50, 50, 0.75);
    font-size: 9.7px;
    font-weight: 400;
}

/* comment Section Container */
.commentSectionContainer {
    margin-top: 100px;
}

.commentSection .imageProfile img {
    width: 48.5px;
    height: 48.5px;
    border-radius: 9.7px;
}

.commentSectionContainer .mainComment {
    padding: 12px 16px 15px;
    background-color: #f5f5f5;
    border-radius: 9.7px;
}

.commentSectionContainer .mainComment.replied {
    padding-bottom: 100px;
}

.replyCommentContainer {
    overflow: hidden;
    transform: translateY(-50px);
    width: 80%;
    border-radius: 9.7px;
    box-shadow: 0px 0px 25.866px 0px rgba(0, 0, 0, 0.07);
}

.replyContainer {
    height: 33px;
    width: 80px;
    border-radius: 9.7px;
    background-color: rgba(62, 50, 50, 0.05);
}

.commentSection .name {
    font-size: 13px;
    font-weight: 500;
}

.commentSection .dateComment {
    transform: translateY(2px);
    font-size: 11.3px;
    font-weight: 500;
    color: rgba(62, 50, 50, 0.75);
}

.commentSection .contentComment {
    font-size: 11.3px;
    font-weight: 400;
}

.addComment {
    font-size: 13px;
    font-weight: 500;
}

.addComment .personalInfo input {
    height: 38.7px;
}


.addComment .rateUsefull {
    background-color: #f5f5f5;
    padding: 2px 3.2px 2px 15px;
    border-radius: 9.7px;
}

.addComment .rateGood {
    font-size: 11px;
    font-weight: 500;
    background-color: #26DE81;
    border-radius: 9.7px;
    padding: 8px 15px;
}

.addComment .send {
    background-color: rgba(248, 21, 57, 0.75);
    padding: 8px 15px;
    text-wrap: nowrap;
    font-size: 11.3px;
    border-radius: 9.7px;
    font-weight: 500;
}

.rightSectionBlog {
    width: 25%;
}

.contentImage img {
    object-fit: cover;
    width: 100%;
    height: fit-content;
}

/* blog */
.tagBlogContainer {
    padding: 16px 12px;
    background-color: #f5f5f5;
    border-radius: 9.7px;
}

.tagBlogContainer .tagContainer {
    font-size: 10.5px;
    font-style: normal;
    font-weight: 500;
}

/* action */
.actionBlog .action {
    background-color: #f5f5f5;
    border-radius: 10px;
}

.action {
    cursor: pointer;
}

/* other blog */
.otherBlog {
    margin-top: 150px;
}

.otherBlog h1 {
    font-size: 51px;
    font-weight: 700;
    margin-bottom: 80px;
}

.otherBlog span {
    color: #4883FF;
}

.otherBlog .otherBlogCardContainer {
    row-gap: 100px;
}

.otherBlog .otherBlogCard h2 {
    margin-top: 20px;
    color: #4883FF;
    font-size: 23px;
    font-weight: 700;
}

.otherBlog .otherBlogCard {
    width: 379px;
}

.otherBlog .otherBlogCard p {
    color: #727272;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.otherBlog .otherBlogCard .seeAll {
    margin-top: 50px;
    color: #444;
    font-size: 15px;
    font-weight: 500;
    text-decoration-line: underline;
    cursor: pointer;
}

.banner {
    margin-top: 130px;
}

@media only screen and (max-width: 1400px) {
    .actionBlog .action {
        font-size: 10px;
    }

    .leftSectionBlog .generalImage {
        height: 450px;
    }

    .cardTopPost #tittleTopPost {
        font-size: 7px;
    }

    .cardTopPost p {
        font-size: 6.5px;
    }
}

@media only screen and (max-width: 1200px) {
    .actionBlog .action {
        font-size: 8px;
    }

    .actionBlog img {
        width: 10px;
        height: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .addComment {
        font-size: 11px;
        font-weight: 500;
    }

    .leftSectionBlog .generalImage {
        height: 260px;
    }

    .rightSectionBlog {
        width: 30%;
    }

    .tittleTopPostContainer span, .tittleTagContainer span, .tittleCommentSection span, span.tittleAddComment {
        font-size: 16px;
    }

    .cardTopPost #tittleTopPost {
        font-size: 6px;
    }

    .actionBlog .action {
        font-size: 8px;
    }

    .tagBlogContainer .tagContainer {
        font-size: 9px;
    }

    .actionBlog img {
        width: 10px;
        height: 10px;
    }

    .cardTopPost p {
        font-size: 5.7px;
    }

}

@media only screen and (max-width: 920px) {

    .leftSectionBlog .generalTittle {
        font-size: 14.5px;
    }

    .leftSectionBlog .contentBlog span {
        font-size: 16px;
        font-weight: 500;
    }

    .leftSectionBlog .contentBlog p {
        font-size: 12px;
        font-weight: 400;
    }

    .leftSectionBlog .contentBlog {
        margin-top: 130px;
    }

    .leftSectionBlog .generalImage .infoPostImage {
        font-size: 9px;
    }

    .actionBlog .action {
        font-size: 7px;
    }

    .actionBlog img {
        width: 8px;
        height: 8px;
    }
}

@media only screen and (max-width: 767px) {
    .containerpageBlog {
        flex-direction: column;
    }

    .leftSectionBlog, .rightSectionBlog {
        width: 100%;
    }

    .leftSectionBlog .generalImage .infoPostImage {
        font-size: 6px;
    }

    .rightSectionBlog {
        margin-top: 8%;
    }

    .cardTopPost #tittleTopPost {
        font-size: 11px;
    }

    .cardTopPost p {
        font-size: 9.7px;
    }

    .tagBlogContainer .tagContainer {
        font-size: 14.2px;
    }

    .actionBlog .action {
        font-size: 12.2px;
    }

    .actionBlog img {
        width: 14px;
        height: 14px;
    }
}

@media only screen and (max-width: 500px) {
    .leftSectionBlog .generalImage {
        height: 220px;
    }
    .leftSectionBlog .contentBlog {
        margin-top: 100px;
    }
    .rightSectionBlog {
        margin-top: 80px;
    }

    .commentSection .imageProfile img {
        width: 40.5px;
        height: 40.5px;
    }

    .addComment .personalInfo input {
        height: 24.7px;
    }

    .addComment .personalComment textarea {
        width: fit-content;
        height: fit-content;
    }

    .containerAll {
        padding: 0 6% !important;
    }

    .addComment {
        font-size: 8px;
    }

    .addComment .send {
        font-size: 8.3px;
        padding: 8px 12px;
    }

    .addComment .rateGood {
        font-size: 8.3px;
        padding: 8px 12px;
    }

    .commentSection .name {
        font-size: 10px;
    }

    .commentSection .dateComment {
        font-size: 8px;
        color: rgba(62, 50, 50, 0.75);
    }

    .commentSection .contentComment {
        font-size: 10px;
    }

    .replyContainer img {
        width: 10px;
        height: 10px;
    }

    .replyContainer {
        font-size: 10px;
    }

    .replyContainer {
        height: 20px;
        width: 70px;
    }

    .otherBlog h1 {
        font-size: 41px;
    }
}