#cardPartner {
    border: 1px solid #DADAF7;
    padding: 20px;
    border-radius: 12px;
}

#cardPartner img.institutionImage {
    object-fit: cover;
    width: 75px;
    height: 79px;
}

@media only screen and (max-width: 610px) {
    img.institutionImage {
        width: 39px;
        height: 41px;
    }

    #cardPartner {
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
    }
}

@media only screen and (max-width: 500px) {
    img.institutionImage {
        width: 29px;
        height: 31px;
    }

    #cardPartner {
        font-size: 8px;
        font-style: normal;
        padding: 13px;

    }
}