#card {
    box-shadow: 0px 1.875531792640686px 16.41090202331543px rgba(121, 102, 234, 0.08);
}

.reviewStarContainer img{
    width: 12px;
    height: 12px;
}

#card .topCardContent {
    padding-top: 20px;
    padding-bottom: 32px;
}

#card .cardContent {
    padding: 20px 26px;
    width: 100%;
}

#card .total {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

#card .tittle {
    padding-top: 20px;
    padding-right: 30px;
    height: 75px;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
}

#card .profileCard {
    width: 31px;
    height: 31px;
    background-color: #beb9b9;
    border-radius: 50%;
}

#card .profileNameCard {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
}

#card .role {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

#card .lesson {
    padding: 5px 11px;
    background-color: #FAB437;
    border-radius: 12px;
    color: black;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
}

@media only screen and (max-width: 700px) {
    #card .tittle {
        padding-top: 20px;
        height: 75px;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
    }
}