body {
    overflow-y: hidden;
}

.Job .tittle {
    color: rgba(20, 20, 20, 0.50);
    font-size: 18px;
    font-weight: 400;
}

.cardCourse {
    height: fit-content;
}

.cardCourse h1 {
    color: #4883FF;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
}

.cardCourse p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.imageCourse img {
    object-fit: cover;
    width: 283px;
    height: 259px;
    overflow: hidden;
    border-radius: 16px;
}

.cardCourse .textCourse {
    padding: 10px 40px;
}

.cardCourse .institutionImageCourse {
    border: 1px solid rgba(0, 0, 0, 0.40);
    border-radius: 50%;
    overflow: hidden;
    width: 32px;
    height: 32px;
}

.cardCourse .institutionImageCourse img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardCourse .institutionText, .totalLessonstext {
    font-size: 16px;
    font-weight: 600;
}

.cardCourse .tagCourse {
    color: #4883FF;
    font-size: 16px;
    font-weight: 500;
    border-radius: 65px;
    background: #CCDBF8;
    padding: 2px 25px 1px;
}

.pagination {
    margin-top: 80px;
}

.filterJobContainer {
    border: 1px solid #C5CAD5;
    font-family: Poppins;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    text-wrap: nowrap;
    width: 270px;
    padding: 22px 45px 79px 35px;
}

.filterJobContainerMobile {
    display: none;
}

.filterJobContainerMobile p {
    text-wrap: nowrap;
}

.filterJobContainerMobile .buttonDropdown {
    padding: 9px;
}

.filterJobContainerMobile .filterContentMobile {
    height: 0;
    overflow: hidden;
    transition: 0.5s !important;
    background-color: white;
}

.filterJobContainer h3 {
    font-size: 20px;
    font-weight: 600;
}

.filterJobContainer p {
    font-size: 14px;
    font-weight: 400px;
}


.filterJobContainer .form-select {
    padding: 10px;
}

.filterJobContainer .filterCompany option {
    text-indent: 30px;
}

.filterJobContainer .filterCompany select {
    font-size: 16px;
    font-weight: 400;
}


@media only screen and (max-width: 1200px) {
    .cardCourse .institutionImageCourse {
        width: 22px;
        height: 22px;
    }

    .cardCourse .playPurple {
        width: 20px;
        height: 20px;
    }

    .cardCourse .textCourse {
        padding: 10px 30px;
    }

    .cardCourse .tagCourse {
        font-size: 10px;
        padding: 2px 25px 1px;
    }

    .imageCourse img {
        width: 235px;
        height: 228px;
    }

    .cardCourse h1 {
        font-size: 25px;
    }

    .cardCourse p {
        font-size: 12px;
    }

    .cardCourse .institutionText, .totalLessonstext {
        font-size: 9px;
        font-weight: 600;
    }

    .cardJob {
        width: 100%;
    }

    .cardContainer {
        height: 99vh;
        overflow-y: scroll;
    }

    .cardContainer::-webkit-scrollbar-thumb {
        background-color: transparent;
        /* Hide the thumb */
    }

    .cardContainer::-webkit-scrollbar-track {
        background-color: transparent;
        /* Hide the track */
    }
}

@media only screen and (max-width: 992px) {

    /* filter job */
    .filterJobContainer {
        width: 200px;
        padding: 22px 45px 79px 35px;
    }

    .filterJobContainer h3 {
        font-size: 15px;
    }

    .filterJobContainer p {
        font-size: 9px;
        font-weight: 400px;
    }

    .filterJobContainer .form-select {
        padding: 7px;
    }

    .filterJobContainer .filterCompany select {
        font-size: 9px;
        font-weight: 400;
    }

    /* card course */
    .cardCourse .institutionImageCourse {
        width: 15px;
        height: 15px;
    }

    .cardCourse .playPurple {
        width: 15px;
        height: 15px;
    }

    .cardCourse .textCourse {
        padding: 10px 20px;
    }

    .cardCourse .tagCourse {
        font-size: 10px;
        padding: 2px 15px 1px;
    }

    .imageCourse img {
        width: 165px;
        height: 158px;
    }

    .cardCourse h1 {
        font-size: 15px;
    }

    .cardCourse p {
        font-size: 9px;
    }

    .cardCourse .starReview img {
        width: 10px;
        height: 10px;
    }

    .cardCourse .institutionText, .totalLessonstext {
        text-wrap: nowrap;
        font-size: 6px;
        font-weight: 600;
    }

    .playPurple {
        transform: translateY(-1px);
    }

}

@media only screen and (max-width: 800px) {

    .filterJobContainer {
        padding: 18px 15px 50px 20px;
    }

    .filterJobContainer h3, .filterContentMobile h3 {
        font-size: 17px;
        font-weight: 600;
    }

    .filterJobContainer p, .filterContentMobile p {
        font-size: 12px;
        font-weight: 400px;
    }

    #pagination {
        display: none !important;
    }
}

@media only screen and (max-width: 700px) {
    #filterJobContainer {
        display: none !important;
    }

    .filterAndJobContainer {
        flex-direction: column;
    }

    .filterJobContainerMobile {
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    .filterRate img {
        width: 10px;
        height: 10px;
    }

    /* card course */
    .cardCourse .institutionImageCourse {
        width: 12px;
        height: 12px;
    }

    .cardCourse .playPurple {
        width: 12px;
        height: 12px;
    }

    .cardCourse .textCourse {
        padding: 5px 10px;
    }

    .cardCourse .tagCourse {
        font-size: 6px;
        padding: 1px 12px;
        height: fit-content;
    }

    .imageCourse img {
        width: 118px;
        height: 110px;
    }

    .cardCourse h1 {
        font-size: 11px;
    }

    .cardCourse p {
        font-size: 6.5px;
    }

    .cardCourse .starReview img {
        width: 9px;
        height: 9px;
    }

    .cardCourse .institutionText, .totalLessonstext {
        text-wrap: nowrap;
        font-size: 5px;
        font-weight: 600;
    }

}