* {
    margin: 0;
    padding: 0;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    text-wrap: nowrap;
}

.hero .mLogoDashboard {
    width: 90px;
    height: 90px;
}

.hero .heroMobile {
    display: none;
}

.hero .imageHero {
    transform: translateX(17%);
}

.hero .totalStudent {
    position: absolute;
    top: 170px;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hero .textHero {
    width: 45%;
}

.hero .textHero .mLogoDashboard {
    position: absolute;
    z-index: -1;
    transform: translate(-50px, -50px);
}

.hero .textHero h1 {
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
}

.hero .textHero p {
    color: #606060;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.hero .textHero .buttonDashboard button {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    padding: 16px 25px;
}

.hero .textHero .leftButton {
    color: white;
    border-radius: 20px;
    background: #4883FF;
}

.hero .textHero .rightButton {
    border-radius: 20px;
    border: 1px solid #4056A1;
    border-radius: 20px;
    color: #4883FF;
}

.play3d {
    display: none;
}

.infoUpskilling .containerPeople {
    position: relative;
    width: 472px;
    height: 545px;
}

.infoUpskilling .containerPeople .backgroundPeople {
    position: absolute;
    background-color: #ffb436;
    border-radius: 150px 0 0 0;
    bottom: 0;
    left: 3px;
    width: 423px;
    height: 383px;
}

.infoUpskilling .containerPeople img {
    position: absolute;
    width: 472px;
    height: 545px;
}

.textInfoUpskilling {
    width: 53%;
}

.infoUpskilling .textInfoUpskilling h1 {
    color: #4883FF;
    font-size: 51px;
    font-weight: 700;
}

.infoUpskilling .textInfoUpskilling p {
    color: #6A6B6C;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
}

.infoUpskilling .textInfoUpskilling .lessons {
    padding-bottom: 20px;
    width: 140%;
}

.infoUpskilling .textInfoUpskilling .expertLearners {
    padding-top: 20px;
}

.infoUpskilling .textInfoUpskilling .successfulStudents {
    padding-bottom: 20px;
    padding-left: 20px;
}

.infoUpskilling .textInfoUpskilling .students {
    padding-top: 20px;
    padding-left: 20px;
}

.infoUpskilling .textInfoUpskilling .number {
    color: #06052E;
    font-size: 25px;
    font-weight: 600;
}

.infoUpskilling .textInfoUpskilling .text {
    color: #6A6B6C;
    font-size: 17px;
    font-weight: 400;
}

.infoUpskilling .textInfoUpskilling .lessons, .successfulStudents {
    border-bottom: 2px dashed black;
}

.infoUpskilling .textInfoUpskilling .successfulStudents, .students {
    border-left: 2px dashed black;
}

.mLogo {
    margin: 160px 0 50px;
}

.package h1 {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;

}

.cardPackageContainer {
    padding: 80px 190px 0;
    display: flex;
    justify-content: center;
}


.blue {
    background-color: #4883FF !important;
    color: white !important;
}

.blue .false {
    color: white !important;
}

.cardPackage {
    padding: 34px 20px;
    border-radius: 10px;
    transition: 0.5s;
}

.detailPackageContainer {
    margin-top: 25px;
}

.cardPackage .iconTrue, .iconFalse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border-radius: 50%;
}

.cardPackage .iconTrue {
    background-color: #E8EDFB;
}

.cardPackage .iconFalse {
    background-color: #F7F8F9;
}


.cardPackage .tittlePackage {
    font-size: 18px;
    font-weight: 700;
}

.cardPackage .descPackage {
    font-size: 13px;
    font-weight: 400;
}

.cardPackage .pricePackage {
    font-size: 41px;
    font-weight: 600;
}

.cardPackage button {
    width: 100%;
    padding: 6px 0px;
    border-radius: 3.426px;
    border: 1px solid #4883FF;
    background-color: white;
    color: #1D4ED8;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}


.cardPackage .detailPackageContainer {
    font-size: 13px;
    font-weight: 500;
}

.cardPackage .detailPackageContainer .false {
    color: #A0ABBB;
}

.saveDiscount {
    transform: translate(280px, -10px);
}

.saveDiscount p {
    color: #1D4ED8;
    font-size: 18px;
    font-weight: 500;
}

.joinContainer {
    margin-top: 200px;
}

.blog h1 {
    font-size: 51px;
    font-weight: 700;
    margin-bottom: 80px;
}

.blog span {
    color: #4883FF;
}

.blog .blogCardContainer {
    justify-content: space-between;
    row-gap: 100px;
}

@media only screen and (max-width: 1250px) {
    .hero .textHero h1 {
        font-size: 76px;
    }

    .hero .textHero p {
        font-size: 18px;
    }

    .hero .textHero .buttonDashboard button {
        font-size: 15px;
        padding: 14px 20px;
    }

    .infoUpskilling .textInfoUpskilling h1 {
        font-size: 31px;
    }

    .infoUpskilling .textInfoUpskilling p {
        font-size: 13px;
    }

    .infoUpskilling .textInfoUpskilling .number {
        font-size: 21px;
    }

    .infoUpskilling .textInfoUpskilling .text {
        font-size: 13px;
    }

    .textInfoUpskilling {
        width: 70%;
        transform: translateX(80px);
    }
}

@media only screen and (max-width: 1020px) {
    .cardPackageContainer {
        justify-content: start;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 100px 350px 100px;
    }

    .cardPackageContainer::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    .cardPackageContainer::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .cardPackage {
        margin: auto;
    }

    .cardPackage.large {
        transform: scale(1.2);
    }
}

@media only screen and (max-width: 992px) {
    .blog .blogCardContainer {
        justify-content: center;
    }

    .hero .totalStudent {
        width: 150px;
        height: 70px;
        left: 50%;
        transform: translate(-50%, -80px);
    }

    .hero .textHero h1 {
        font-size: 56px;
    }

    .hero .textHero p {
        font-size: 15px;
    }

    .hero .textHero {
        width: 65%;
    }

    .hero .textHero .buttonDashboard button {
        font-size: 15px;
        padding: 14px 20px;
    }

    .infoUpskilling .containerPeople {
        width: 350px;
        height: 450px;
        transform: translateX(-40px);
    }

    .infoUpskilling .containerPeople .backgroundPeople {
        position: absolute;
        background-color: #ffb436;
        border-radius: 150px 0 0 0;
        bottom: 0;
        left: 3px;
        width: 323px;
        height: 303px;
    }

    .infoUpskilling .containerPeople img {
        position: absolute;
        width: 390px;
        height: 450px;
    }

    .joinContainer {
        margin-top: 0px;
    }

}

@media only screen and (max-width: 840px) {
    .hero .textHero {
        transform: translateX(27px);
    }

    .infoUpskilling .textInfoUpskilling h1 {
        font-size: 27px;
    }

    .infoUpskilling .textInfoUpskilling p {
        font-size: 11px;
    }

    .infoUpskilling .textInfoUpskilling .number {
        font-size: 19px;
    }

    .textInfoUpskilling {
        width: 50%;
        transform: translateX(20px);
    }

    .saveDiscount {
        transform: translate(200px, -10px);
    }
}

@media only screen and (max-width: 767px) {
    .hero .textHero {
        transform: translateX(0px);
    }

    .imageHero {
        display: none;
    }

    .hero .textHero {
        width: 100%;
    }

    .hero .heroMobile {
        display: block;
        transform: translate(70%, -80px);
        width: 200px;
    }

    .hero .totalStudent {
        position: static;
        width: fit-content;
        height: fit-content;
        transform: translate(0%, 0%);
    }

    .hero {
        flex-direction: column;
        padding-top: 50px;
    }

    .play3d {
        display: block;
        position: absolute;
        right: 0;
        transform: translateY(20px);
    }

    .containerPeople {
        display: none;
    }

    .infoUpskilling {
        margin-top: 80px;
    }

    .textInfoUpskilling h1 {
        width: 90%;
    }

    .textInfoUpskilling {
        width: 100%;
        transform: translateX(0px);
    }
}

@media only screen and (max-width: 603px) {
    .hero .heroMobile {
        transform: translate(50%, -80px);
        width: 200px;
    }
}

@media only screen and (max-width: 520px) {
    .blogCardContainer {
        padding: 0 5% !important;
    }

    .saveDiscount {
        transform: translate(120px, -100px);
        scale: 0.7;
    }

    .textInfoUpskilling h1 {
        width: 85%;
    }

    .totalEachSectionContainer {
        margin: auto;
    }

    /* package container: */
    .cardPackageContainer {
        padding: 100px 90px 100px 90px;
        justify-content: start;
    }

    .cardPackage {
        padding: 34px 20px;
    }

    .detailPackageContainer {
        margin-top: 25px;
    }

    .cardPackage .iconTrue, .iconFalse {
        width: 33px;
        height: 33px;
    }

    .cardPackage .iconTrue {
        background-color: #E8EDFB;
    }

    .cardPackage .iconFalse {
        background-color: #F7F8F9;
    }

    .cardPackage .tittlePackage {
        font-size: 11px;
    }

    .cardPackage .descPackage {
        font-size: 7px;
    }

    .cardPackage .pricePackage {
        font-size: 20px;
    }

    .cardPackage button {
        padding: 2px 0px 0px;
        font-size: 8px;
    }

    .cardPackage .detailPackageContainer {
        font-size: 8px;
        font-weight: 500;
    }

    .cardPackage .iconTrue, .iconFalse {
        width: 16px;
        height: 16px;
    }

    .cardPackage .iconTrue img, .iconFalse img {
        scale: 0.6;
    }

    /* end package */

    .hero .mLogoDashboard {
        width: 54px;
        height: 54px;
    }

    .hero .textHero .mLogoDashboard {
        position: absolute;
        z-index: -1;
        transform: translate(-25px, -30px);
    }

    .hero .heroMobile {
        transform: translate(60%, -80px);
        position: absolute;
        right: 0;
        width: 80px;
    }

    .hero .leftTextHero {
        width: 85%;
    }

    .hero .textHero h1 {
        font-size: 46px;
    }

    .hero .textHero p {
        font-size: 12px;
    }

    .hero .textHero {
        width: 85%;
    }

    .hero .textHero .buttonDashboard button {
        font-size: 15px;
        padding: 11px 18px;
        text-wrap: nowrap;
    }
}