#contentCarouselReview .carousel-control-prev {
    transform: rotate(180deg);
}

.cardReview {
    width: 560px;
    padding: 34px 28px 48px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
}

.peopleImageReview {
    position: absolute;
    left: 0;
}
#inner{
    height: 110%;
    overflow-y: visible;
}

.rightSideReview {
    width: 80%;
    transform: translate(30%, 90px);
    z-index: 10;
}

.textTotalTalent {
    width: 50%;
}

.textTotalTalent h1 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 500;
}

.rightSideReview .textTotalTalent span {
    font-weight: 700;
    color: #FF6905;
}

.carouselItemContainer {
    column-gap: 30px;
}

.cardReviewContainer {
    display: none;
}

.cardReview .profileReview {
    border-radius: 50%;
    overflow: hidden;
    width: 49px;
    height: 49px;
    object-fit: cover;
}

.cardReview .nameReview {
    color: #25324B;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}

.cardReview .verifContainer {
    background-color: #ECFDF5;
    width: fit-content;
    color: #064E3B;
    padding: 4px 10px;
    text-align: center;
}

.cardReview .textReview {
    overflow: hidden;
    color: #191D23;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.cardReview .arrowPrev {
    background-color: white;
}

#contentCarouselReview .carousel-control-prev img {
    transform: translateX(80px);
}

#contentCarouselReview .carousel-control-next img {
    transform: translateX(20px);
}

@media only screen and (max-width: 990px) {

    /* review */
    .peopleImageReview, #contentCarouselReview {
        display: none;
    }

    .cardReviewContainer {
        display: block;
        margin-left: 0px;
    }

    .rightSideReview {
        width: 100%;
        transform: translate(0%, 0px);
    }

    .cardReview {
        width: 100%;
    }

    .totalTalent h1 {
        font-size: 18px;
    }

    .totalTalent .textTotalTalent {
        width: 100%;
    }

    .Mlogo img {
        width: 72px;
        height: 61px;
    }

    .peopleImageReview {
        display: none;
    }

    .cardReview .profileReview {
        width: 34px;
        height: 34px;
    }

    .cardReview .nameReview {
        font-size: 11px;
    }

    .cardReview .verifContainer {
        padding: 2px 6px;
        font-size: 9px;
    }

    .verifContainer img {
        width: 11px;
        height: 11px;
    }

    .cardReview .textReview {
        font-size: 17px;
    }

    .ratingReview img {
        width: 11px;
        height: 10px;
    }
}